<f:layout name="Default" />

<f:section name="Title"><f:translate id="terminal" /> - <f:translate id="login" /></f:section>

<f:section name="Styles"></f:section>
<f:section name="HeaderJS"></f:section>

<f:section name="Content">
    <div class="container">
        <div class="row"><h1><f:translate id="terminal" /> - <f:translate id="login" /></h1></div>
        <f:render partial="FlashMessages" />
        <div class="row">
            <f:security.ifAuthenticated>
                <f:then>
                    <f:link.action action="logout" class="btn btn-danger"><i class="fa fa-sign-in fa-fw"></i> Logout</f:link.action>
                </f:then>
                <f:else>
                    <f:form action="authenticate">
                        <div class="form-group">
                            <label for="identifier"><f:translate id="user" />:</label>
                            <input type="text"
                                   name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]"
                                   class="form-control"
                                   id="identifier"
                                   autofocus="1" />
                        </div>
                        <div class="form-group">
                            <label for="password"><f:translate id="password" />:</label>
                            <input type="password"
                                   name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]"
                                   class="form-control"
                                   id="password" />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <button type="submit" class="form-control btn btn-info"><i class="fa fa-sign-in fa-fw"></i> <f:translate id="login" /></button>
                    </f:form>
                </f:else>
            </f:security.ifAuthenticated>
        </div>
    </div>
</f:section>