<f:layout name="Default" />

<f:section name="Title"><f:translate id="adm.title" /></f:section>

<f:section name="Styles"></f:section>
<f:section name="HeaderJS"></f:section>

<f:section name="Content">
    <div class="container">
        <f:render partial="FlashMessages" />
        <div class="row">
            <h1><f:translate id="adm.manageAppointments" /></h1>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <f:if condition="{appointments -> f:count()}">
                <f:then>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th><f:translate id="title" /></th>
                            <th><f:translate id="form.starttime" /></th>
                            <th><f:translate id="form.endtime" /></th>
                            <th><f:translate id="participants" /></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <f:for each="{appointments}" as="appointment">
                            <tr class="{f:if(condition: appointment.disabled, then: ' warning')}{f:if(condition: appointment.overdue, then: ' danger')}{f:if(condition: '{appointment} == {current}', then: ' info')}">
                                <td>
                                    <f:if condition="{appointment.disabled}">
                                        <f:then><i class="fa fa-eye-slash fa-fw"></i></f:then>
                                        <f:else><i class="fa fa-eye fa-fw"></i></f:else>
                                    </f:if>
                                </td>
                                <td {f:if(condition: appointment.hideTitle, then: 'style="color:#999;cursor:help" title="{f:translate(id: \'hiddenTitle\')}"')}>{appointment.title}</td>
                                <td><i class="fa fa-calendar{f:if(condition: appointment.overdue, then: '-times')}-o fa-fw text-success"></i> {appointment.starttime -> f:format.date(format: settings.date.format.short)}</td>
                                <td><i class="fa fa-calendar{f:if(condition: appointment.overdue, then: '-times')}-o fa-fw text-danger"></i> {appointment.endtime -> f:format.date(format: settings.date.format.short)}</td>
                                <td>
                                    <f:for each="{appointment.participants}" as="participant" iteration="iterator">
                                        <f:translate id="gender{participant.salutation}" /> {participant.name}<f:if condition="{iterator.isLast} == 0">,</f:if>
                                    </f:for>
                                </td>
                                <td>
                                    <f:if condition="{appointment.image}">
                                        <a href="{f:uri.resource(resource: appointment.image)}" target="_blank" title="{f:translate(id: 'title.image.show')}"><i class="fa fa-picture-o fa-fw"></i></a>
                                        <f:comment><!--<f:link.action action="deleteImage" controller="Administration" arguments="{appointment: appointment}" title="{f:translate(id: 'title.image.delete')}"><i class="fa fa-trash-o fa-fw text-danger"></i></f:link.action>--></f:comment>
                                    </f:if>
                                </td>
                                <td>
                                    <f:link.action action="showAppointment" controller="Administration" arguments="{appointment: appointment}" title="{f:translate(id: 'title.appointment.show')}"><i class="fa fa-eye fa-fw text-default"></i></f:link.action>
                                    <f:security.ifHasRole role="Manager">
                                        <f:if condition="{appointment.overdue} == 0">
                                            <f:if condition="{appointment.disabled}">
                                                <f:then><f:link.action action="toggleAppointment" controller="Administration" arguments="{appointment: appointment, t: tstamp}"><i class="fa fa-toggle-off fa-fw"></i></f:link.action></f:then>
                                                <f:else><f:link.action action="toggleAppointment" controller="Administration" arguments="{appointment: appointment, t: tstamp}"><i class="fa fa-toggle-on fa-fw"></i></f:link.action></f:else>
                                            </f:if>
                                            <f:link.action action="editAppointment" controller="Administration" arguments="{appointment: appointment}" title="{f:translate(id: 'title.appointment.edit')}">
                                                <i class="fa fa-pencil fa-fw text-default"></i>
                                            </f:link.action>
                                        </f:if>
                                        <f:link.action action="deleteAppointment" controller="Administration" arguments="{appointment: appointment}" title="{f:translate(id: 'title.appointment.delete')}" onclick="return confirm('{f:translate(id: \"modal.delete.confirm\")}')">
                                            <i class="fa fa-trash-o fa-fw text-danger"></i>
                                        </f:link.action>
                                    </f:security.ifHasRole>
                                </td>
                            </tr>
                        </f:for>
                        </tbody>
                    </table>
                </f:then>
                <f:else>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <f:translate id="noAppointments" />
                    </div>
                </f:else>
            </f:if>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <p>
                <f:security.ifHasRole role="Manager">
                    <f:link.action action="newAppointment" controller="Administration" class="btn btn-primary"><i class="fa fa-calendar-plus-o fa-fw"></i> <f:translate id="appointment.new" /></f:link.action>
                    <f:link.action action="cleanup" controller="Administration" class="btn btn-danger {f:if(condition: '{outdated} == 0', then: 'disabled')}" onclick="return confirm('{f:translate(id: \"modal.delete.confirm\")}')"><i class="fa fa-trash"></i> <f:translate id="cleanupDB" /></f:link.action>
                </f:security.ifHasRole>
            </p>
            <hr />
            <h3><f:translate id="slides" /></h3>
            <hr />
            <f:if condition="{slides -> f:count()}">
                <f:then>
                    <f:for each="{slides}" as="slide">
                        <div class="slide-preview">
                            <img src="{f:uri.resource(resource: slide)}" height="150" title="{slide.filename}" data-toggle="tooltip" />
                            <f:security.ifHasRole role="Administrator">
                                <f:link.action action="removeSlide"
                                               arguments="{slide: slide.sha1}"
                                               class="alert alert-danger link"
                                               title="{f:translate(id: 'title.slide.delete')}"
                                               additionalAttributes="{data-toggle: 'tooltip', data-placement: 'bottom'}">
                                    <i class="fa fa-trash-o fa-fw text-danger"></i>
                                </f:link.action>
                            </f:security.ifHasRole>
                        </div>
                    </f:for>
                    <div class="clearfix"></div>
                    <small><f:format.nl2br><f:translate id="adm.slides.description" /></f:format.nl2br></small>
                </f:then>
            </f:if>
            <f:security.ifHasRole role="Administrator">
                <hr /><p><f:link.action action="uploadSlides" class="btn btn-default"><i class="fa fa-slideshare fa-fw"></i> <f:translate id="slides.add" /></f:link.action></p>
            </f:security.ifHasRole>
        </div>
    </div>

    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
            $('.slide-preview').on('mouseenter', function() {
                $(this).children('.link').first().show();
            });
            $('.slide-preview').on('mouseleave', function() {
                $(this).children('.link').first().hide();
            });
        });
    </script>
</f:section>