<f:layout name="ModifyMask" />

<f:section name="Title"><f:translate id="appointment.new" /></f:section>

<f:section name="Content">
    <div class="container">
        <f:render partial="FormErrors" arguments="{for: 'newAppointment'}" />
        <div class="row">
            <h1><f:translate id="appointment.new" /> <i class="fa fa-calendar-plus-o fa-fw" style="font-size: .75em"></i></h1>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <f:form action="createAppointment" objectName="newAppointment" enctype="multipart/form-data" additionalAttributes="{data-parsley-validate: 'data-parsley-validate'}">
                <div class="form-group">
                    <label for="title"><f:translate id="title" /></label>
                    <f:form.textfield property="title" class="form-control" id="title" placeholder="{f:translate(id: 'form.title.placeholder')}" required="required" />
                </div>
                <div class="form-group">
                    <f:form.checkbox property="hideTitle" id="hideTitle" value="1" checked="checked" /> <label for="hideTitle" style="font-weight: normal"><f:translate id="form.hideTitle" /></label>
                </div>
                <div class="row">
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label for="starttime"><f:translate id="form.starttime" /></label>
                            <div class='input-group date' id='js-trigger-starttime'>
                                <f:form.textfield property="starttime" class="form-control" id="starttime" placeholder="{f:translate(id: 'form.starttime.placeholder')}" required="required" additionalAttributes="{data-parsley-errors-container: '#starttime-error'}" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <div id="starttime-error"></div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label for="endtime"><f:translate id="form.endtime" /></label>
                            <div class='input-group date' id='js-trigger-endtime'>
                                <f:form.textfield property="endtime" class="form-control" id="endtime" placeholder="{f:translate(id: 'form.endtime.placeholder')}" required="required" additionalAttributes="{data-parsley-errors-container: '#endtime-error'}" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <div id="endtime-error"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="displayLanguage"><f:translate id="form.displayLanguage" /></label>
                    <f:form.select options="{settings.i18n.available}"
                                   property="displayLanguage"
                                   class="form-control"
                                   id="displayLanguage" />
                </div>
                <div class="form-group">
                    <label for="freetext"><f:translate id="form.freetext" /></label>
                    <f:form.textarea property="freetext" class="form-control" id="freetext" rows="6" placeholder="{f:translate(id: 'form.freetext.placeholder')}" />
                </div>
                <div class="form-group">
                    <label for="fontColor"><f:translate id="form.fontColor" /></label>
                    <div class="input-group colorpicker">
                        <f:form.textfield property="fontColor" value="#000000" class="form-control" id="fontColor" />
                        <span class="input-group-addon"><i></i></span>
                    </div>
                    <p class="help-block"><f:translate id="form.fontColor.help" /></p>
                </div>
                <div class="form-group">
                    <label for="image"><f:translate id="image" /></label>
                    <f:form.upload property="image" id="image" additionalAttributes="{accept: settings.uploads.image.formats}" />
                    <p class="help-block"><f:translate id="form.image.help" /></p>
                </div>
                <div class="clearfix">&nbsp;</div>
                <fieldset id="participants">
                    <legend><i class="fa fa-users fa-fw"></i> <f:translate id="participants" /></legend>
                    <div id="new-participant">
                        <f:render partial="Participant/New" />
                    </div>
                </fieldset>
                <div class="btn btn-info form-control" id="js-add-participant"><i class="fa fa-user-plus fa-fw"></i> <f:translate id="participant.add" /></div>
                <div class="clearfix">&nbsp;</div>
                <div class="form-group">
                    <f:form.button class="btn btn-primary" type="submit" id="submit"><i class="fa fa-floppy-o fa-fw"></i> <f:translate id="appointment.add" /></f:form.button> &nbsp;
                    <f:link.action action="index" class="btn btn-danger"><f:translate id="cancel" /></f:link.action>
                </div>
            </f:form>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>
</f:section>