<f:form.validationResults for="{for}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="row flashmessages">
			<f:for each="{validationResults.flattenedErrors}" key="propertyName" as="errors">
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>{propertyName}</strong> <f:for each="{errors}" as="error">{error}</f:for>
				</div>
			</f:for>
		</div>
	</f:if>
</f:form.validationResults>