@font-face {
	font-family: "DIN Offc";
	src: url(/_Resources/Static/Packages/Ecom.Terminal/Fonts/DINOffc.ttf);
}
@font-face {
	font-family: "DIN Offc Bold";
	src: url(/_Resources/Static/Packages/Ecom.Terminal/Fonts/DINOffc-Bold.ttf);
}
@font-face {
	font-family: "DIN Offc Light";
	src: url(/_Resources/Static/Packages/Ecom.Terminal/Fonts/DINOffc-Light.ttf);
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
.clearfix {
	display: block;
}

html {
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
body {
	font-family: "DIN Offc Light", "Roboto Condensed", Roboto, Helvetica, Arial, sans-serif !important;
	font-size: 14px;
	line-height: 1.42857143;
	background-color: #fff;
	margin: 0;
	/* @todo activate when dev finished */
	/*overflow: hidden;*/
}

iframe#fullscreen {
	border: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
}

#user-panel {
	background-color: #231f20;
	box-shadow: 0 0 15px #3c3c3c;
	height: 54px;
	margin-bottom: 1em;
	padding: 10px;
	width: 100%;
	z-index: 100000;
}

#user-panel.sticky {
	position: fixed;
	top: 0;
}

#user-panel-inner {
	color: #fff;
	margin: auto;
	text-align: right;
	/* container width! adopt to @media rules, see TWBS */
	width: 1170px;
}

.flashmessages {
	margin: 1em auto;
}

.slide-preview {
	float: left;
	margin: 0 1em 1em 0;
	position: relative;
}

.slide-preview > .link {
	border-left: 0;
	border-radius: 0;
	bottom: -20px; /* half the height (15) plus padding bottom (5) */
	display: none;
	filter: alpha(opacity=75);
	height: 30px;
	left: 0;
	opacity: .75;
	padding: 5px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.slide-preview > .link:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

.drop-files-container {
	border: 4px solid #ccc !important;
	border-radius: 20px !important;
	color: #ccc !important;
	font-size: 20px !important;
	font-weight: bold;
	height: auto !important;
	margin: 20px 0 40px;
	padding: 20px !important;
	text-align: center;
}

.drop-files-container:hover {
	background-color: #f6f6f6;
}

img.fullscreen {
	height: 100%;
	width: 100%;
}

body.fullscreen {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

.tooltip {
	overflow: hidden;
}

header.appointment-def {
	background: transparent url("/_Resources/Static/Packages/Ecom.Terminal/Images/head.png") no-repeat top right scroll;
	height: 299px;
}

header.appointment-def > h1,
header.appointment-user > h1 {
	font-family: "DIN Offc Light", "DIN Offc", "Roboto Condensed", Roboto, Helvetica, Arial, sans-serif;
	font-size: 72px;
}

header.appointment-def > h1 {
	/*background: transparent url("/_Resources/Static/Packages/Ecom.Terminal/Images/head-repeat.png") repeat-x top left scroll;*/
	color: #b1b3b4;
	height: 299px;
	margin-top: 0;
	padding: 125px 50px 0;
}

header.appointment-user > h1 {
	margin-top: 50px;
	text-align: center;
}

section.appointment-def,
section.appointment-user {
	font-size: 40px;
	line-height: 1.25;
	width: 80%;
}

section.appointment-def {
	color: #fff;
	font-size: 60px;
	height: 624px;
	padding: 50px;
}

section.appointment-user {
	text-align: center;
}

section.appointment-def > h2,
section.appointment-user > h2 {
	font-family: "DIN Offc", "Roboto Condensed", Roboto, Helvetica, Arial, sans-serif;
	font-size: 60px;
	margin-bottom: 25px;
}

hr.appointment-user {
	border-bottom: 4px double #ccc;
	margin: 50px auto;
	width: 80%;
}

img#handshake {
	bottom: 50px;
	position: fixed;
	right: 50px;
}

.colorpicker-2x .colorpicker-saturation {
	width: 200px;
	height: 200px;
}
.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
	width: 30px;
	height: 200px;
}
.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div{
	height: 30px;
}

.bootstrap-datetimepicker-widget {
	z-index: 10000 !important;
}

.colorpicker::before {
	display: none !important;
}

.vegas-timer {
	display: none;
}

.parsley-errors-list {
	background-color: #f2dede;
	border: 1px solid #eed3d7;
	border-top-width: 0;
	color: #b94a48;
	font-weight: 900;
	padding: 10px !important;
	position: relative;
	top: -2px;
}

input.parsley-error, select.parsley-error, textarea.parsley-error {
	background-color: transparent !important;
}

div.max-participants {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}