{namespace ecom=S3b0\ViewHelperCollection\ViewHelpers}
<f:layout name="Terminal" />

<f:section name="Title">ecom Terminal</f:section>

<f:section name="Body">
    <ecom:sanitizeOutput><body class="fullscreen"{bodyStyle -> f:format.raw()}>
        <f:if condition="{mode} == 1">
            <header class="{f:if(condition: appointment.image, then: 'appointment-user', else: 'appointment-def')}">
                <h1 style="{inlineStyleColor}"><f:translate id="welcomeText" /></h1>
            </header>
            <f:if condition="{appointment.image}"><hr class="appointment-user" style="border-color: {appointment.fontColor}" /></f:if>
            <section class="{f:if(condition: appointment.image, then: 'appointment-user', else: 'appointment-def')}">
                <f:if condition="{appointment.hideTitle} == 0">
                    <h2 style="{inlineStyleColor}">{appointment.title}</h2>
                </f:if>
                <f:if condition="{appointment.freetext}">
                    <f:then><p>{appointment.freetext -> f:format.nl2br()}</p></f:then>
                    <f:else>
                        <f:if condition="{participants}">
                            <table class="table table-condensed" style="height:100%">
                                <f:for each="{participants}" as="participant">
                                    <tr><td style="border-top:0;vertical-align:middle;{inlineStyleColor}">
                                        <f:translate id="gender{participant.salutation}" />
                                        <ecom:getArrayElement array="{settings.participants.titles}" key="{participant.title}" />
                                        {participant.name}
                                    </td></tr>
                                </f:for>
                            </table>
                        </f:if>
                    </f:else>
                </f:if>
            </section>
            <img src="_Resources/Static/Packages/Ecom.Terminal/Images/handshake.png" width="250" id="handshake" />
        </f:if>
        <f:if condition="{mode} == 2">
            <![CDATA[<script type="text/javascript">
                $(function() {
                    $('body').vegas({
                        delay: ]]>{settings.timeout}<![CDATA[,
                        transitionDuration: 0,
                        slides: ]]>{vegasSlidesJs}<![CDATA[
                    });
                });
            </script>]]>
        </f:if>

        <script>
            var date = new Date(),
                nextReload;
            if (date.getMinutes() >= 0 && date.getMinutes() < 15) {
                nextReload = new Date(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(), 15);
            } else if (date.getMinutes() >= 15 && date.getMinutes() < 30) {
                nextReload = new Date(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(), 30);
            } else if (date.getMinutes() >= 30 && date.getMinutes() < 45) {
                nextReload = new Date(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(), 45);
            } else {
                nextReload = new Date(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours() + 1, 0);
            }
            nextReload.setTime(nextReload.getTime() + 1000);

            console.log('Next automatic reload at ' + nextReload);
            setTimeout(window.location.reload.bind(window.location), nextReload.getTime() - date.getTime());
        </script>
    </body></ecom:sanitizeOutput>
</f:section>