<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vegas Slideshow</title>
	<f:base />
	<!-- Vegas CSS -->
	<link rel="stylesheet" href="{f:uri.resource(path: 'bower_components/vegas/dist/vegas.min.css')}">
	<!-- jQuery -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<!-- Vegas JS -->
	<script src="{f:uri.resource(path: 'bower_components/vegas/dist/vegas.min.js')}"></script>
</head>
<body>
	<![CDATA[<script type="text/javascript">
		$(function() {
			$('body').vegas({
				delay: 6000,
                slides: ]]>{vegasJsOptions}<![CDATA[
            });
		});
	</script>]]>
</body>
</html>